<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/b506b41292.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class="navbar-item">
          <a href=""><i class="fas fa-bell"></i></a>
        </div>
        <div class="navbar-item">
          <a href=""><i class="fas fa-archive"></i></a>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <i class="fas fa-user"></i>
          </a>
          <div class="navbar-dropdown">
            <div class="navbar-item">
              <a href="">✩ 升級會員</a>
            </div>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <a href="">寫故事</a>
            </div>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <a href="">登出</a>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <button class="button js-modal-trigger is-primary " data-target="modal" id="btn1">登入</button>
            <button class="button js-modal-trigger is-light " data-target="modal" id="btn2">註冊</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- 登入會員 modal -->
  <div class="modal" id="modal-login">
    <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="title is-3 mt-3 modal-card-title has-text-centered ">登入會員</p>
            <button class="delete" aria-label="close" data-bulma-modal="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
          </section>
          <footer class="modal-card-foot">
            <div class="field">
              <p class="control">
                <button class="button is-success">
                  登入
                </button>
                <button class="button is-danger" data-bulma-modal="close">
                  取消
                </button>
              </p>
            </div>
          </footer>
        </div>
      </div>
  </div>

  <!-- 註冊會員 modal -->
  <div class="modal" id="modal-register">
    <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="title is-3 mt-3 modal-card-title has-text-centered ">註冊會員</p>
            <button class="delete" aria-label="close" data-bulma-modal="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Name">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
          </section>
          <footer class="modal-card-foot">
            <div class="field">
              <p class="control">
                <button class="button is-success">
                  註冊
                </button>
                <button class="button is-danger" data-bulma-modal="close">
                  取消
                </button>
              </p>
            </div>
          </footer>
        </div>
      </div>
  </div>
</body>
  <script>

  // 設定bulma modal
  class BulmaModal {
	constructor(selector) {
		this.elem = document.querySelector(selector)
		this.close_data()
	}
	
	show() {
		this.elem.classList.toggle('is-active')
		this.on_show()
	}
	
	close() {
		this.elem.classList.toggle('is-active')
		this.on_close()
	}
	
	close_data() {
		var modalClose = this.elem.querySelectorAll("[data-bulma-modal='close'], .modal-background")
		var that = this
		modalClose.forEach(function(e) {
			e.addEventListener("click", function() {
				
				that.elem.classList.toggle('is-active')
				var event = new Event('modal:close')
				that.elem.dispatchEvent(event);
			})
		})
	}
	
	on_show() {
		var event = new Event('modal:show')
	
		this.elem.dispatchEvent(event);
	}
	
	on_close() {
		var event = new Event('modal:close')
	
		this.elem.dispatchEvent(event);
	}
	
	addEventListener(event, callback) {
		this.elem.addEventListener(event, callback)
	}
}
  // 登入會員 modal
  let btn1 = document.querySelector("#btn1")
  let mdl = new BulmaModal("#modal-login")
  btn1.addEventListener("click", function () {
    mdl.show()
  })
  mdl.addEventListener('modal:show', function() {
    console.log("opened")
  })
  mdl.addEventListener("modal:close", function() {
    console.log("closed")
  })

  // 註冊會員 modal
  let btn2 = document.querySelector("#btn2")
  let md2 = new BulmaModal("#modal-register")
  btn2.addEventListener("click", function () {
    md2.show()
  })
  md2.addEventListener('modal:show', function() {
    console.log("opened")
  })
  md2.addEventListener("modal:close", function() {
    console.log("closed")
  })
  </script>
</html>